<header class="py-3 mb-4 mt-6">
  <div class="container d-flex flex-wrap justify-content-center">
    <h1 class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <span class="fs-4">Rows</span>
    </h1>
  </div>
</header>
<div class="container py-3">
  <div class="row">
    <p> Note that
      <span class="colored-container fw-bold">
        Containers are this color
      </span>
      ,
      <span class="colored-row fw-bold">
        Rows are this color
      </span>
      and
      <span class="colored-app-column fw-bold">
        Columns are this color.
      </span>
    </p>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <h3>
      Columns <span class="fw-bold text-danger">without</span> rows
    </h3>
  </div>
</div>
<div class="colored container p-3">
  <div class="app-column col-3 p-3">
    col-3 p-3
  </div>
  <div class="app-column col-3 p-3">
    col-3 p-3
  </div>
  <div class="app-column col-3 p-3">
    col-3 p-3
  </div>
  <div class="app-column col-3 p-3">
    col-3 p-3
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <h3>
      Columns <span class="fw-bold text-success">with</span> rows
    </h3>
  </div>
</div>
<div class="colored container p-3">
  <div class="colored row">
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <h3>
      Rows within Rows
    </h3>
  </div>
</div>
<div class="colored container p-3">
  <div class="colored row">
    <div class="app-column col-3 p-3">
      col-3 p-3
      <div class="colored row">
        <div class="app-column col-6 p-3">
          col-6 p-3
        </div>
        <div class="app-column col-6 p-3">
          col-6 p-3
        </div>
      </div>
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <h3>
      Columns within Columns within Rows
    </h3>
  </div>
</div>
<div class="colored container p-3">
  <div class="colored row">
    <div class="app-column col-3 p-3">
      col-3 p-3
      <div class="app-column col-6 p-3">
        col-6 p-3
      </div>
      <div class="app-column col-6 p-3">
        col-6 p-3
      </div>
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
    <div class="app-column col-3 p-3">
      col-3 p-3
    </div>
  </div>
</div>